﻿$bg-color: #f8eeb9;

body{
    background-color: $bg-color;
    height: 100%;
    width: 100%;
}

.section {
    display: table;

    &.section--full-width {
        width: 100%;
        min-height: 350px;
        background-image: url(../Images/bg-typo.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position-y: -45px;
    }

    &.section--full {
        width: 50%;
        padding: 40px;
    }

    & .word {
        display: table-cell !important;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-family: 'Architects Daughter', 'Kaushan Script', sans-serif;
        font-size: 76px;
        font-weight: 400;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
        cursor: default;
    }
}

.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-content{
    min-height: 400px;
    border: none;
    border-radius: 0 !important;
}

.form-control--answer {
    background-color: transparent !important;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid red;
    font-size: 40px;
    font-family: 'Architects Daughter', 'Kaushan Script', sans-serif;
    height: 65px;

    &:focus {
        box-shadow: none;
    }
}